/*
  GENERAL CODES
*/

html{
  font-size: 18px;
  line-height: 1.4;
}

.container{
  max-width: 960px;
  margin: 0 auto;
}

body{
  font-family: helvetica;
}

/*
  HEADER CSS CODE
*/

#banner-image{
  background-image: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-5/tortoiseshell-optics/resources/images/glasses-bg.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 30rem;
  padding-top: 1rem;
}

header{
  background-color: cadetblue;
  color: white;
  padding: 1rem 2rem;
}

.banner{
  display: flex;
  justify-content: space-between;
}

.header-logo{
  display: flex;
  align-items: center;
  width: 50%;
}

.header-logo img{
  margin-right: 1rem;
  height: 1.5rem;
}

nav{
  display: inline-flex;
  align-items: center;
  width: 50%;
}

.browser-nav{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  list-style: none;
}

.browser-nav a{
  color: white;
  text-decoration: none;
  margin-left: 2rem;
}

.text-box{
  display: flex;
  justify-content: flex-end;
}

.banner-text{
  margin-top: 10rem;
  background-color: white;
  font-weight: bold;
  font-size: 2rem;
  line-height: 1.2;
  padding: 1.5rem 5rem;
  display: inline-block;
}

@media only screen and (min-width: 1024px){
  .mobile-nav{
    display: none;
  }
}

/* THIS IS THE MAIN CONTENT OF THE CODE */

.services{
  display: flex;
  justify-content: center;
  align-items: baseline;
  margin-top: 3rem;
}

.service-container{
  width: 5rem;
  height: 9rem;
  display: flex;
}

.service-image{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.paper-image img{
  width: 3.5rem;
}

.ruler-image img{
  width: 5rem;
}

.truck-image img{
  width: 5rem;
}

.services img{
  margin-bottom: 1rem;
}

.services span{
  text-align: center;
}

.ruler{
  margin: 0 6rem;
}
/* THIS IS THE PHILO-APP CONTENT OF THE CODE */

.phil-app{
  display: flex;
  justify-content: center;
}

.philosophy,
.appointments{
  width: 35%;
}

.philosophy{
  margin-right: 5%;
}

.title{
  background-color: cadetblue;
  padding: 0.5rem 1.25rem;
  display: block;
  font-size: 1rem;
  font-weight: bold;
  margin-bottom: 1rem;
  width: 10rem;
}

/* THIS IS THE CODE FOR THE FOOTER CONTENT */

footer{
  margin-top: 5rem;
}

.footer-logo{
  background-color: azure;
  display: flex;
  align-items: center;
}

.footer-logo img{
  margin: 4rem 1rem 4rem 4rem;
  height: 1.5rem;
}

/* MEDIA QUERY FOR DESKTOP SIZE (1025+) */

@media only screen and (min-width: 1025px){
  .mobile-nav{
    display: none;
  }
}

/* MEDIA QUERY FOR TABLET 1024PX SIZE */

@media only screen and (max-width: 1024px){
  .container{
    width: 100%;
  }

  .mobile-nav{
    display: none;
  }

  #banner-image{
    padding-top: 0px;
    height: 22rem;
  }

  .text-box{
  }

  .banner-text{
    font-size: 1.33rem;
    margin-top: 5rem;
    margin-right: 2rem;
    padding: 0.75rem 4rem;
  }
}

/* MEDIA QUERY FOR MOBILE 470PX */

@media only screen and (max-width: 600px){
  .container{
    width: 100%;
  }

  .header-logo span{
    display: none;
  }

  .mobile-nav{
    display: static;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    list-style: none;
  }

  .mobile-nav a{
    text-decoration: none;
    color: white;
  }

  .browser-nav{
    display: none;
  }

  #banner-image{
    height: 17rem;
  }

  .banner-text{
    display: flex;
    justify-content: center;
    margin: 9rem 0 0 0;
    width: 100%;
    padding: 1rem 0;
  }

  .services{
    flex-direction: column;
    align-items: center;
    margin: 3.77rem 0;
  }

  .service-image{
    justify-content: center;
    align-items: center;
  }

  .service-image span{
    font-size: 0.77rem;
  }

  .ruler{
    margin: 1.54rem 0;
  }

  .phil-app{
    flex-direction: column;
    align-items: center;
  }

  .philosophy,
  .appointments{
    width: 100%;
  }

  .philosophy{
    margin-right: 0;
    margin-bottom: 4rem;
  }

  .description{
    font-size: 0.77rem;
    text-align: left;
    padding-left: 0.25rem;
  }

  .title{
    width: 100%;
    text-align: center;
    padding:  0.5rem 0;
  }

  .footer-logo{
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .footer-logo span{
    display: none;
  }
}
